@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@100&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Outfit;
}

body {
    background: #e8e8e8;
    margin-top: 20px;
}

#navbar{
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 2;
}

.logo {
    width: 35px;
    cursor: pointer;
    margin: 20px 30px;
    border-radius: 5px;
}

.menu-icon {
    width: 35px;
    cursor: pointer;
    display: none;
    margin: 20px 30px;
}

nav {
    margin-bottom: 20px;
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

nav ul li a:hover {
    color: #FF8324;
}

.icon-link {
    display: none;
}

.btn-jual {
    width: 100px;
    height: 40px;
    background-color: #FF8324;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    color: #ffffff;
    cursor: pointer;
}

.btn-jual a {
    margin: 5px 0;
    color: #fff;
}

.btn-simpan {
    width: 200px;
    height: 40px;
    background-color: #FF8324;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    color: #ffffff;
    cursor: pointer;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline {
    width: auto;
    height: 40px;
    background  : transparent;
    color       : #FF8324;
}

.btn {
    cursor: pointer;
}

.btn-primary-submit {
    color: #fff;
    background-color: #FF8324;
    border-color: #FF8324;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #3B5998;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.copyright{
    font-size: 14px;
    text-align: center;
    margin: 50px 0;
}

@media only screen and (max-width:480px) {
    
    
    nav ul{
        width: 100%;
        background-color: #eee;
        /* background:  linear-gradient(#ff7811, #FF8324); */
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #000000;
    }

    .menu-icon{
        display: block;
    }

    .icon-link {
        display: inline-block;
    }

    .icon-link i {
        color: #000;
        font-size: 30px;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
}